@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'petrona';
    src: url('../fonts/Petrona/Petrona-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'kiet';
    src: url('../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'kiet', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}


.petrona {
    font-family: 'petrona', sans-serif;
}
